<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--

 plist compiled by Blipp Basic Compiler 1.64.05

-->
<plist version="1.0">
<dict>
   <key>SamWeekes</key>
   <dict>
      <key>compilerRevision</key>
      <string>BBP:1.64.05</string>
      <key>minimumVersion</key>
      <string>14</string>
      <key>name</key>
      <string>SamWeekes</string>
      <key>revision</key>
      <string>02-06-2015 05:00:53</string>
      <key>scenes</key>
      <array>
         <dict>
            <key>animation_store</key>
            <array>
               <dict>
                  <key>center</key>
                  <string>0,0,1</string>
                  <key>emitterFunction</key>
                  <string>continual,50</string>
                  <key>emitterSize</key>
                  <string>1.0,1.0,1.0</string>
                  <key>endSize</key>
                  <string>50,60</string>
                  <key>lifetime</key>
                  <string>2.0,2.5</string>
                  <key>mass</key>
                  <string>1.0,1.1</string>
                  <key>maximum</key>
                  <string>60</string>
                  <key>name</key>
                  <string>Bubbles</string>
                  <key>speed</key>
                  <string>100,150</string>
                  <key>spin</key>
                  <string>0,180,360,1</string>
                  <key>spread</key>
                  <string>60.0,0.0</string>
                  <key>startSize</key>
                  <string>30,40</string>
                  <key>trajectory</key>
                  <string>0.0,1.0,1.0</string>
                  <key>type</key>
                  <string>particles</string>
                  <key>wind</key>
                  <string>0.5,1.0,1.0,20.0,30.0,0.2</string>
               </dict>
               <dict>
                  <key>delta</key>
                  <string>step</string>
                  <key>name</key>
                  <string>Up</string>
                  <key>time</key>
                  <string>500</string>
                  <key>type</key>
                  <string>translate_y</string>
               </dict>
               <dict>
                  <key>delta</key>
                  <string>-step</string>
                  <key>name</key>
                  <string>Down</string>
                  <key>time</key>
                  <string>500</string>
                  <key>type</key>
                  <string>translate_y</string>
               </dict>
               <dict>
                  <key>delta</key>
                  <string>-step</string>
                  <key>name</key>
                  <string>Left</string>
                  <key>time</key>
                  <string>500</string>
                  <key>type</key>
                  <string>translate_x</string>
               </dict>
               <dict>
                  <key>delta</key>
                  <string>step</string>
                  <key>name</key>
                  <string>Right</string>
                  <key>time</key>
                  <string>500</string>
                  <key>type</key>
                  <string>translate_x</string>
               </dict>
            </array>
            <key>classes</key>
            <array>
               <dict>
                  <key>alpha</key>
                  <string>1</string>
                  <key>attachment</key>
                  <string>screen</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>collidable</key>
                  <string>no</string>
                  <key>colour</key>
                  <string>0.5,0.5,0.5,0.8</string>
                  <key>localRotation0</key>
                  <string>0,0,1,0</string>
                  <key>location</key>
                  <string>0,0,0</string>
                  <key>model</key>
                  <string>arrow.md2</string>
                  <key>name</key>
                  <string>Button</string>
                  <key>scale</key>
                  <string>5.0</string>
                  <key>scaleFactor</key>
                  <string>5.00000,5.00000,5.00000</string>
                  <key>texture</key>
                  <string>btn.png</string>
                  <key>textureOffset</key>
                  <string>0,0</string>
                  <key>textureScale</key>
                  <string>1,1</string>
                  <key>transformMode</key>
                  <string>enhanced</string>
               </dict>
               <dict>
                  <key>model</key>
                  <string>blp_Circle.md2</string>
                  <key>name</key>
                  <string>Circle_cls</string>
                  <key>texture</key>
                  <string>blipp_uv.jpg</string>
                  <key>transformMode</key>
                  <string>enhanced</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>model</key>
                  <string>btn.md2</string>
                  <key>name</key>
                  <string>Color</string>
               </dict>
            </array>
            <key>functions</key>
            <array>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>Up</string>
                        <key>arg2</key>
                        <string>Gun</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>UpBtn.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>Right</string>
                        <key>arg2</key>
                        <string>Gun</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>RightBtn.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>Down</string>
                        <key>arg2</key>
                        <string>Gun</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>DownBtn.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>arg1</key>
                        <string>Left</string>
                        <key>arg2</key>
                        <string>Gun</string>
                        <key>function</key>
                        <string>bindAnimation</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>LeftBtn.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>switch</key>
                        <array>
                           <dict>
                              <key>case</key>
                              <string>color="00"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>1,1,1,1,1,1,1,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="01"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>1,1,0,1,1,1,0,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="02"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>1,0,1,1,1,0,1,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="03"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>1,0,0,1,1,0,0,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="04"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>0,1,1,1,0,1,1,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="05"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>0,1,0,1,0,1,0,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="06"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>0,0,1,1,0,0,1,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>case</key>
                              <string>color="07"</string>
                              <key>do</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>Gun</string>
                                    <key>colour</key>
                                    <string>1,0.5,0,1,1,0.5,0,1</string>
                                    <key>function</key>
                                    <string>bindAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=""</string>
                                 </dict>
                              </array>
                           </dict>
                           <dict>
                              <key>else</key>
                              <array>
                                 <dict>
                                    <key>arg1</key>
                                    <string>Bubbles</string>
                                    <key>arg2</key>
                                    <string>100</string>
                                    <key>arg3</key>
                                    <string>Gun</string>
                                    <key>arg4</key>
                                    <string>keepLiveParticles</string>
                                    <key>function</key>
                                    <string>stopAnimation</string>
                                 </dict>
                                 <dict>
                                    <key>let</key>
                                    <string>color=_color</string>
                                 </dict>
                              </array>
                           </dict>
                        </array>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>FireBtn.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="00"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="00"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color00.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="01"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="01"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color01.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="02"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="02"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color02.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="03"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="03"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color03.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="04"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="04"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color04.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="05"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="05"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color05.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="06"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="06"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color06.onClick</string>
               </dict>
               <dict>
                  <key>commands</key>
                  <array>
                     <dict>
                        <key>if</key>
                        <string>color NEQ""</string>
                        <key>then</key>
                        <array>
                           <dict>
                              <key>let</key>
                              <string>color="07"</string>
                           </dict>
                        </array>
                     </dict>
                     <dict>
                        <key>let</key>
                        <string>_color="07"</string>
                     </dict>
                  </array>
                  <key>name</key>
                  <string>Color07.onClick</string>
               </dict>
            </array>
            <key>models</key>
            <array>
               <dict>
                  <key>alpha</key>
                  <string>1</string>
                  <key>attachment</key>
                  <string>screen</string>
                  <key>base</key>
                  <string>Circle_cls</string>
                  <key>clickable</key>
                  <string>yes</string>
                  <key>collidable</key>
                  <string>no</string>
                  <key>colour</key>
                  <string>1,1,1,1</string>
                  <key>localRotation0</key>
                  <string>1.00000,0.00000,0.00000,-100.00000</string>
                  <key>location</key>
                  <string>(width-100),(100-height),1</string>
                  <key>name</key>
                  <string>Gun</string>
                  <key>orientation</key>
                  <string>0.00000,0.00000,1.00000,0.00000</string>
                  <key>scale</key>
                  <string>_scale</string>
                  <key>scaleFactor</key>
                  <string>_scale,_scale,_scale</string>
                  <key>textureOffset</key>
                  <string>0,0</string>
                  <key>textureScale</key>
                  <string>1,1</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>localRotation0</key>
                  <string>0,0,1,-90</string>
                  <key>location</key>
                  <string>(90-width),50,0</string>
                  <key>name</key>
                  <string>UpBtn</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>localRotation0</key>
                  <string>0,0,1,180</string>
                  <key>location</key>
                  <string>(140-width),0,0</string>
                  <key>name</key>
                  <string>RightBtn</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>localRotation0</key>
                  <string>0,0,1,90</string>
                  <key>location</key>
                  <string>(90-width),-50,0</string>
                  <key>name</key>
                  <string>DownBtn</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>location</key>
                  <string>(40-width),0,0</string>
                  <key>name</key>
                  <string>LeftBtn</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Button</string>
                  <key>colour</key>
                  <string>0,0.5,0,1</string>
                  <key>location</key>
                  <string>(width-100),0,1</string>
                  <key>model</key>
                  <string>button.md2</string>
                  <key>name</key>
                  <string>FireBtn</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>1,1,1,1</string>
                  <key>location</key>
                  <string>(70-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color00</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>1,1,0,1</string>
                  <key>location</key>
                  <string>(130-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color01</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>1,0,1,1</string>
                  <key>location</key>
                  <string>(190-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color02</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>1,0,0,1</string>
                  <key>location</key>
                  <string>(250-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color03</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>0,1,1,1</string>
                  <key>location</key>
                  <string>(310-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color04</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>0,1,0,1</string>
                  <key>location</key>
                  <string>(370-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color05</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>0,0,1,1</string>
                  <key>location</key>
                  <string>(430-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color06</string>
               </dict>
               <dict>
                  <key>base</key>
                  <string>Color</string>
                  <key>colour</key>
                  <string>1,0.5,0,1</string>
                  <key>location</key>
                  <string>(490-width),(height-30),0</string>
                  <key>name</key>
                  <string>Color07</string>
               </dict>
            </array>
            <key>name</key>
            <string>default</string>
            <key>variables</key>
            <array>
               <string>width=system.screenHeight*0.5</string>
               <string>height=system.screenWidth*0.5</string>
               <string>step=50</string>
               <string>_scale=0.55000</string>
               <string>color="00"</string>
               <string>_color="00"</string>
            </array>
         </dict>
      </array>
   </dict>
</dict>
</plist>